/*
hochgi style :)
*/
figcaption {
  color: #777
}

.post-body img {
  max-width: 100%;
  height: auto;
  text-align: center;
}

blockquote {
  font-family: Georgia, serif;
  margin: 0;
  padding: 20px;
  border-left: 5px solid #ccc;
  background-color: #EFEFEF;
  color: #666;
  font-size: normal;
  font-style: italic;
}

/*
blockquote::before {
  content: "\201C";
  font-size: 3em;
  margin-right: 0.1em;
  color: #ccc;
}

blockquote::after {
  content: "\201D";
  font-size: 3em;
  margin-left: 0.1em;
  color: #ccc;
}
*/

.footnote {
  vertical-align: super;
}

[id^="fn:"] {
  font-size: 13px;
  color: #837a71;
}

html, body{
  height:100%;
  margin: 0px;
  padding: 20px;
  font-family: ubuntu, Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
}

th {
  border: 1px solid #bab5b0;
  text-align: center;
  background-color: #efefef;
  color: #0083bf;
}

td {
  border: 1px dotted #bab5b0;
  height: 125%;
  padding: 10px;
  text-align: left;
  color: #a05000;
}

H1, H2, H3, H4, H5, H6 {
  color: #837a71;
}

H1 {
  text-align: center;
  font-weight: bold;
  margin: 0 0 8px 0;
  border-bottom: solid 3px #bab5b0;
  width: 100%;
}

code:not(.sourceCode) a {
  color: #40C0E0 !important; /* color for links */
}

code:not(.sourceCode) a:hover {
  cursor: pointer !important;
  color: #4fcfef !important;
}

.sharedCodeButton {
  border-radius: 5px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 1px 1px 2px #8F867D;
  font-family: monospace;
  font-weight: bold;
  font-size: 0.8em;
  margin: 0 8px;
  border-style: solid;
  border-color: #8F867D;
  border-width: 1px;
  background: -webkit-linear-gradient(top, #FAFAFA 0%, #EFEFEF 80%, #E0E0E0 100%);
  color: #A05000;
}

.code:not(.sourceCode) {
  composes: sharedCodeButton;
}

.gsc-search-button {
  composes: sharedCodeButton;
}

.sourceCode {
  display: block;
  overflow-x: auto;
  color: #C0C0C0;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #181818;
  padding: 10px;
  box-shadow: 2px 2px 8px #282828;
  background: #222;
  -webkit-text-size-adjust: none;
}

.sourceCode pre {
  border-radius: 0;
  border-style: none;
  padding: 0;
  box-shadow: none;
}

.sourceCode pre code {
  border-radius: 0;
  border-style: none;
  padding: 0;
  box-shadow: none;
}
  
.co {
  color: #75715e;
  font-style: italic;
}

.kw {
  color: #40c0e0;
  font-weight: bold;
}

.dv,
.bn,
.fl {
  color: #4080c0;
}

.st {
  color: #ffb01c;
}
  
.pp {
  color: #ff8000;
  font-weight: bold;
}

.fu {
  color: #ff8000;
  /* font-style: italic; */
}

.dt {
  color: #e6db74;
  font-weight: bold;
}

.ot,
.an {
  color: #00A0A0;
}

.ch {
  color: #FFA020;
}

.re {
  color: #837a71;
  font-weight: bold;
}

.al,
.er {
  color: #b30045;
}
